/**
 * Script Tray Website
 * Copyright (c) 2024-present Matthew Evans - See LICENSE.md
 */

app_font_family = Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
app_font_size = medium
app_line_height = 1.2
app_font_weight = 400

app_bg_color = rgb(81, 76, 30)
app_fg_color = rgba(255, 255, 255, 0.87)

app_link_color = rgb(172, 186, 230)
app_link_hover_color = rgb(172, 216, 255)

button_fg_color = app_fg_color
button_bg_color = rgb(26, 26, 26)
button_hv_color = rgb(100, 108, 255)
button_shadow_color = rgb(105, 105, 105)

:root
  font-family Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  font-size medium
  line-height 1.2
  font-weight 400

  color rgba(255, 255, 255, 0.87)
  background-color rgb(81, 76, 30)

  font-synthesis none
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

a
  font-weight 600
  color rgb(172, 186, 230)
  text-decoration inherit
a:visited
  color rgb(172, 186, 230)
a:hover
  color rgb(172, 216, 255)
a:active
  color rgb(172, 216, 255)

body
  margin 0

h1
  font-size 3.4em
  line-height 0.1
h2
  font-size 1.8em
  line-height 0.2
h3
  font-size 1.2em
  line-height 0.4

#app
  display flex
  flex-flow column
  align-items stretch
  max-width 800px
  height 100vh
  margin-left 12px
  margin-right 8px
