/**
 * Script Tray Website
 * Copyright (c) 2024-present Matthew Evans - See LICENSE.md
 */

app_font_family = Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
app_font_size = medium
app_line_height = 1.2
app_font_weight = 400

app_bg_color = rgb(81, 76, 30)
app_fg_color = rgba(255, 255, 255, 0.87)

app_link_color = rgb(172, 186, 230)
app_link_hover_color = rgb(172, 216, 255)

button_fg_color = app_fg_color
button_bg_color = rgb(26, 26, 26)
button_hv_color = rgb(100, 108, 255)
button_shadow_color = rgb(105, 105, 105)

:root
  font-family app_font_family
  font-size app_font_size
  line-height app_line_height
  font-weight app_font_weight

  color app_fg_color
  background-color app_bg_color

  font-synthesis none
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

a
  font-weight (app_font_weight + 200)
  color app_link_color
  text-decoration inherit
a:hover
  color app_link_hover_color

body
  margin 0

h1
  font-size 3.4em
  line-height 0.1
h2
  font-size 1.8em
  line-height 0.1

button
  border-radius 8px
  border: 1px solid transparent
  padding: 0.6em 1.2em
  font-size: 1em
  font-weight: (app_font_weight + 100)
  font-family: inherit
  color: button_fg_color
  background-color: button_bg_color
  cursor: pointer
  transition: border-color 0.25s
  box-shadow 1px 2px button_shadow_color
button:hover
  border-color: button_hv_color
button:active
  box-shadow 0px 0px
  transform translateX(1px) translateY(2px)

#app
  display flex
  flex-flow column
  align-items stretch
  max-width 800px
  height 100vh
  margin-left 12px
  margin-right 8px
